//main: ../style.less

.header{
    width: 100%;
    top: 0;
    left: 0;
/*НАЛОЖЕНИЕ СО СМЕЩЕНИЕМ*/
    z-index: 1000; 
    position: absolute;
    background-color: @white;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: @white;
}
.header.fixed .header_inner{
    padding: 15px 0;
    border-bottom: 0;
}

.header__inner{
    display: flex;
    /*пустое место между лого и меню*/
    justify-content: space-between;
    align-items: center;/*все объекты делаем по центру*/
   
}
.header__inner__logo{

}